PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://noshowadmin:IUMvIhYUPWulVuac@cluster0.0h5ggil.mongodb.net/noshowkiller?retryWrites=true&w=majority
ZAPIER_WEBHOOK_URL=
CLIENT_URL=http://localhost:3000